<div class="container-fluid">
<h1>Bootcmp Enroll Form</h1>
{{ userForm.value | json }}
<form #userForm="ngForm">
  
  <div class="form-group">
    <label>Name</label>
    <input name="name" type="text" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input name="email" type="text" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input name="phone" type="tel" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <select name="topic" id="" class="custom-select" ngModel>
      <option selected>I am interested in</option>
      <option *ngFor="let topic of topics">{{ topic }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Time preference</label>
    <div class="form-check">
      <input 
         type="radio" 
         name="timePreference" 
         class="form-check-input"
         value="morning"
         ngModel>
      <label for="" class="form-check-label">Morning(9AM - 12PM)</label>
    </div>
    <div class="form-check">
      <input 
        type="radio" 
        name="timePreference" 
        class="form-check-input"
        value="evening"
        ngModel>
      <label for="" class="form-check-label">Evening(5PM - 8PM)</label>
    </div>
  </div>

  <div class="form-check mb-3">
    <input name="promot" type="checkbox" class="form-check-input" ngModel>
    <label for="" class="form-check-label">Send me promotional offers</label>
  </div>

  <div ngModelGroup="address">
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" name="street" ngModel>
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" ngModel>
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" ngModel>
    </div>
    <div class="form-group">
      <label>Postal Code</label>
      <input type="text" class="form-control" name="postalCode" ngModel>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>