<div class="container-fluid">
<h1>Bootcmp Enroll Form</h1>
{{ userForm.form.valid}}
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  
  <div class="form-group">
    <label>Name</label>
    <input name="name" #name="ngModel" required 
           type="text" class="form-control"
           [class.is-invalid]="name.invalid && name.touched" 
            [ngModel]="user.name">
    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input name="email" type="text" class="form-control" [ngModel]="user.email">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input name="phone" type="tel" #phone="ngModel" required pattern="^\d{3}-\d{3}-\d{4}$"
          class="form-control" [class.is-invalid]="phone.invalid && phone.touched"
          [ngModel]="user.phone">
    <!--small class="text-danger"
       [class.d-none]="phone.valid || phone.untouched">
       Phone must be 10 digits split by this pattern 000-000-0000
    </small-->
    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
      <small class="text-danger" *ngIf="phone.errors.required">Phone is required</small>
      <small class="text-danger" *ngIf="phone.errors.pattern">Phone should be follow this pattern 000-000-0000</small>
    </div>
  </div>
  <div class="form-group">
    <select name="topic" #topic="ngModel" required
            (blur)="validateTopic(topic.value)"
            (change)="validateTopic(topic.value)"
            [class.is-invalid]="hasError && topic.touched" 
            class="custom-select" 
            [ngModel]="user.topic">
      <option value="default">I am interested in</option>
      <option *ngFor="let topic of topics">{{ topic }}</option>
    </select>
    <div>
      <small class="text-danger" [class.d-none]="!hasError || topic.untouched">Topic has to be select</small>
    </div>
  </div>
  <div class="mb-3">
    <label>Time preference</label>
    <div class="form-check">
      <input 
         type="radio" 
         name="timePreference" 
         class="form-check-input"
         value="morning"
         [ngModel]="user.timePreference">
      <label for="" class="form-check-label">Morning(9AM - 12PM)</label>
    </div>
    <div class="form-check">
      <input 
        type="radio" 
        name="timePreference" 
        class="form-check-input"
        value="evening"
        [ngModel]="user.timePreference">
      <label for="" class="form-check-label">Evening(5PM - 8PM)</label>
    </div>
  </div>

  <div class="form-check mb-3">
    <input name="promot" type="checkbox" class="form-check-input" [ngModel]="user.promto">
    <label for="" class="form-check-label">Send me promotional offers</label>
  </div>

  <div ngModelGroup="address">
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" name="street" [ngModel]="user.address.street">
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" [ngModel]="user.address.city">
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" [ngModel]="user.address.state">
    </div>
    <div class="form-group">
      <label>Postal Code</label>
      <input type="text" class="form-control" name="postalCode" [ngModel]="user.address.postalcode">
    </div>
  </div>
  <button [disabled]="userForm.form.invalid || hasError" class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>